<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name"></h1>
        <span class="example-spacer"></span>
        <img class="img" src="../../../../assets/img/Comunidad-Andina.png">
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <p class="des" *ngIf="auth.isAutenticado">
                <img class="usu" src="../../../../assets/img/user.png"> {{auth.getUsername}}
                <br>{{auth.getcodclave}}

                <br> admin@cominidadandina.org
            </p>



            <br>
            <br>

            <mat-nav-list>

                <a mat-list-item><button class="enc" mat-button [matMenuTriggerFor]="menu" color="white"><mat-icon class="icon">view_module</mat-icon>    Modulos</button>
                  <mat-menu #menu="matMenu" >

                    <button mat-menu-item [matMenuTriggerFor]="Pedidos"> <mat-icon >send</mat-icon>Pedidos</button>
                    
                    
                    
                    <mat-menu #Pedidos="matMenu" >
                        <ul >
                            <button mat-menu-item routerLink="/dashboard/pedidoarticulo"><mat-icon>business_center</mat-icon>Pedido de Articulo</button>
                            <button mat-menu-item routerLink="/dashboard/atenciondepedido"><mat-icon>playlist_add_check</mat-icon>Atención de Pedido</button>
                            <button mat-menu-item routerLink="/dashboard/delegarautoridad"><mat-icon>person_add</mat-icon>Delegar Autoridad</button>
                            </ul>
                    </mat-menu>
                    <!--
                    <button mat-menu-item><mat-icon>send</mat-icon>Pedidos</button>
                    <ul>
                    <button mat-menu-item><mat-icon>business_center</mat-icon>Pedido de Articulo</button>
                    <button mat-menu-item><mat-icon>playlist_add_check</mat-icon>Atención de Pedido</button>
                    <button mat-menu-item><mat-icon>person_add</mat-icon>Delegar Autoridad</button>
                    </ul>-->


                <button mat-menu-item routerLink="/dashboard/ingresosalida" ><mat-icon>swap_vert</mat-icon>Ingresos/Salidas</button>
                <button mat-menu-item routerLink="/dashboard/control-stock" ><mat-icon>inventory_2</mat-icon>Control de Stocks</button>

                </mat-menu>
                </a>
                <br>
                <br>

                <br>
                <br>
                <a mat-list-item><button class="enc" mat-button [matMenuTriggerFor]="utilitarios"><mat-icon class="icon">view_column</mat-icon> Utilitarios</button>
                  <mat-menu #utilitarios="matMenu">

                    <button mat-menu-item [matMenuTriggerFor]="Mantenimiento"> <mat-icon >content_paste</mat-icon>Mantemiento de Tablas</button>
                    <button mat-menu-item [matMenuTriggerFor]="Alertas"> <mat-icon >notifications_active</mat-icon>Alertas</button>
                    <button mat-menu-item [matMenuTriggerFor]="Reportes"> <mat-icon >text_snippet</mat-icon>Reportes</button>
                    <button mat-menu-item [matMenuTriggerFor]="Consultas"> <mat-icon >person_search</mat-icon>Consultas</button>
                    
                    
                    <mat-menu #Mantenimiento="matMenu">
                        <ul>
                            <button mat-menu-item routerLink="/dashboard/articulos" ><mat-icon>auto_awesome_motion</mat-icon>Articulos</button>
                            <button mat-menu-item routerLink="/dashboard/almacen" ><mat-icon>sensor_window</mat-icon>Almacen</button>
                            <button mat-menu-item routerLink="/dashboard/grupo-acceso" ><mat-icon>switch_account</mat-icon>Grupos de Acceso</button>
                            <button mat-menu-item routerLink="/dashboard/tipo-transaccion" ><mat-icon>swap_vert</mat-icon>Tipos de Transacción</button>
                            <button mat-menu-item><mat-icon>bar_chart</mat-icon>Unidades de Medida</button>
                        </ul>
                    </mat-menu>
                    <mat-menu #Alertas="matMenu">
                        <ul>
                            <button mat-menu-item><mat-icon>sort</mat-icon>Stocks Mínimos</button>
                            <button mat-menu-item><mat-icon>segment</mat-icon>Vencimiento de Artículos</button>
                            
                        </ul>
                    </mat-menu>

                    <mat-menu #Reportes="matMenu">
                        <ul>
                            <button mat-menu-item><mat-icon>repartition</mat-icon>Cargos de Pedido</button>
                            <button mat-menu-item><mat-icon>article</mat-icon>Artículos en Deuso</button>
                            <button mat-menu-item><mat-icon>summarize</mat-icon>Resúmen Varios</button>
                            
                        </ul>
                    </mat-menu>

                    <mat-menu #Consultas="matMenu">
                        <ul>
                            <button mat-menu-item><mat-icon>view_in_ar_new</mat-icon>Stocks de Arttículos</button>
                            <button mat-menu-item><mat-icon>delete_sweep</mat-icon>Bin Card</button>
                            
                        </ul>
                    </mat-menu>

                    <!--
                    <button mat-menu-item><mat-icon>content_paste</mat-icon>Mantemiento de Tablas</button>
                    <button mat-menu-item><mat-icon>business_center</mat-icon>Articulos</button>
                    <button mat-menu-item><mat-icon>playlist_add_check</mat-icon>Almacen</button>
                    <button mat-menu-item><mat-icon>person_add</mat-icon>Grupos de Acceso</button>
                    <button mat-menu-item><mat-icon>swap_vert</mat-icon>Tipos de Transacción</button>
                    <button mat-menu-item><mat-icon>inventory_2</mat-icon>Unidades de Medida</button>
                    <button mat-menu-item><mat-icon>person_add</mat-icon>Alertas</button>
                    <button mat-menu-item><mat-icon>swap_vert</mat-icon>Reportes</button>
                    <button mat-menu-item><mat-icon>inventory_2</mat-icon>Consultas</button>
                        -->
                </mat-menu></a>



                <button *ngIf="auth.isAutenticado" (click)="auth.logout()" routerLink="/login" mat-menu-item class="log">Cerrar Sesión <mat-icon class="enc">logout</mat-icon></button>






            </mat-nav-list>

        </mat-sidenav>



        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>