<div class="container">
    <mat-toolbar>
        <span>Control de Stock</span>
    </mat-toolbar>




    <div>
        <p></p>
        <p></p>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off" />
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="articulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Articulo
                    </th>
                    <td mat-cell *matCellDef="let element ">
                        {{ element.cod_articulo }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cantidadfisica">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cantidad Fisica
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.cant_fisica}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cantidadreal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cantidad Real
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.cant_real}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cantidadmin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cantidad Min Rep
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.cant_minima_reposicion}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="precioreferencial">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Precio Referencial
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.fecha_pedido}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="observacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Observación
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.obs}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="almacen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Almacen
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.cod_almacen}}
                    </td>
                </ng-container>







                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>