<body class="fo">
    <div class="container">

        <mat-toolbar>
            <h1>Pedido de Articulo</h1>

        </mat-toolbar>



        <mat-slide-toggle>Urgente</mat-slide-toggle>



        <mat-card style="margin-top: 10px">

            <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit">

                <mat-grid-list cols="4" rowHeight="70px">


                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho" appearance="fill">
                            <mat-label>Piso Destino</mat-label>
                            <mat-select formControlName="piso_destino">
                                <mat-option *ngFor="let item of piso" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="2">
                        <mat-form-field class="ancho">
                            <mat-label>Articulo</mat-label>
                            <mat-select formControlName="articulo">
                                <mat-option *ngFor="let item of articulo" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>


                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="ancho">
                            <mat-label>Cantidad</mat-label>
                            <input matInput formControlName="cantidad">
                        </mat-form-field>
                    </mat-grid-tile>



                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="ancho" appearance="fill">
                            <mat-label>Cargado al Pro/Prg/pry</mat-label>
                            <mat-select formControlName="cargado_pro">
                                <mat-option *ngFor="let item of cargado" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>



                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="ancho">
                            <mat-label>Motivo</mat-label>
                            <input matInput formControlName="motivo_solicitud">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="3" [rowspan]="2">
                        <mat-form-field class="ancho">
                            <mat-label>Observaciones</mat-label>
                            <input matInput formControlName="Obs">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="2">
                        <mat-form-field class="ancho">
                            <mat-label>Observaciones</mat-label>
                            <input matInput formControlName="obser">
                        </mat-form-field>
                    </mat-grid-tile>



                    <mat-grid-tile [colspan]="3" [rowspan]="4">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="articulo">
                                <th mat-header-cell *matHeaderCellDef> Articulo </th>
                                <td mat-cell *matCellDef="let element"> {{element.articulo}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="cantidad">
                                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="observaciones">
                                <th mat-header-cell *matHeaderCellDef> Observaciones </th>
                                <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        Aceptar y volver
                    </mat-grid-tile>

                </mat-grid-list>



                <button class="button" mat-menu-item mat_raised-button [disabled]="!pedidoForm.valid">Enviar <mat-icon>mail</mat-icon> </button>

            </form>




        </mat-card>


    </div>
</body>