.button {
    position: relative;
}

.fondo {
    background-color: rgb(164, 142, 180);
}

.urgente {
    background: white;
    color: rgb(137, 78, 179);
    width: 2%;
    height: 2%;
}

.container {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    text-align: center;
    margin-left: 60px;
    padding: 2px;
    background-color: white;
}

.ur {
    color: black;
}

.n {
    color: rgb(137, 78, 179);
    width: 800px;
    font-size: 35px;
}

.bu {
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.des {
    margin-top: 20Px;
    height: 600px;
}

.desp {
    width: 400px;
}

.fij {
    height: 100px;
    background-color: rgb(231, 231, 231);
}

.ar {
    margin-top: 20Px;
    width: 800px;
}

.art {
    width: 400px;
}

.arto {
    width: 750px;
    height: 100px;
}

.artic {
    width: 800px;
    margin-top: 20Px;
    color: rgb(137, 78, 179);
}

.lar {
    background-color: red;
    color: white;
}

table {
    width: 700px;
    margin-top: 10px;
    border-radius: 5%;
}

.ta {
    margin-top: 10px;
    width: 800px;
}