<ng-container *ngIf="show">
    <div class="modalc" #modalBack>
        <div class="modalc-content">

            <!--
                <div class="modalc-header">
                <h4 class="modalc-title">
                    Crear Pedido
                </h4>

                <ng-template [ngTemplateOutlet]="closeIcon"></ng-template>

                
            </div>
            -->

            <div class="fondo">


                <br>
                <div class="inicial">

                    <form (ngSubmit)="onSubmit()">



                        <div>

                            <form (ngSubmit)="onSubmit()">
                                <div class="container p">
                                    <h1> <span class="urgente"> Pedido de Articulo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <mat-slide-toggle class="ur" id="urgente"  [(ngModel)]="model.urgente" name="urgente" #name="ngModel">Urgente</mat-slide-toggle></span>
                                    </h1>

                                </div>
                            </form>

                            <form (submit)="addArticulo()">
                                <div class="container n">
                                    <h1>Agregar Articulo &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        <button mat-button class="bu" (click)="addArticulo()"><mat-icon >add</mat-icon></button>


                                    </h1>


                                </div>
                            </form>




                        </div>




                        <div>
                            <br>
                            <br>
                            <div class="container des form-group">


                                <br>
                                <mat-form-field appearance="fill" class="desp">
                                    <mat-label>Piso Destino</mat-label>
                                    <mat-select class="form-control" id="piso_destino" required [(ngModel)]="model.piso_destino" name="piso_destino" #name="ngModel">
                                        <mat-option *ngFor="let item of piso" [value]="item">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>

                                <br>
                                <mat-form-field appearance="fill" class="desp">
                                    <mat-label>Nombre Almacen</mat-label>
                                    <mat-select class="form-control" id="cod_almacen" [(ngModel)]="model.cod_almacen" name="cod_almacen" #name="ngModel">
                                        <mat-option *ngFor="let almacenes of ListAlmacenes" [value]="almacenes.cod_almacen">
                                            {{almacenes.nom_almacen}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <br>
                                <br>

                                <mat-form-field class="example-full-width" appearance="fill" class="desp">
                                    <mat-label>Motivo:</mat-label>
                                    <textarea matInput class="fij" class="form-control" id="motivo_solicitud" [(ngModel)]="model.motivo_solicitud" name="motivo_solicitud" #name="ngModel"></textarea>
                                </mat-form-field>
                                <br>
                                <br>
                                <mat-form-field class="example-full-width" appearance="fill" class="desp">
                                    <mat-label>Observacion:</mat-label>
                                    <textarea matInput class="fij" class="form-control" id="obs" [(ngModel)]="model.obs" name="obs" #name="ngModel"></textarea>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill" class="desp">
                                    <mat-label>Codigo Clave:</mat-label>
                                    <textarea matInput class="fij" class="form-control" id="cod_clave" [(ngModel)]="model.cod_clave" name="cod_clave" #name="ngModel"></textarea>

                                </mat-form-field>



                            </div>

                            <form (submit)="addArticulo()" id="borr">


                                <div class="container ar">
                                    <mat-form-field appearance="fill" class="art">
                                        <mat-label>Articulo</mat-label>
                                        <div class="from Group">
                                            <mat-select class="form-control" id="cod_articulo" [(ngModel)]="modeli.cod_articulo" name="cod_articulo" #name="ngModel">
                                                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom_articulo'" [array]="ListArticulo" (filteredReturn)="ListArticulo =$event"></mat-select-filter>
                                                <mat-option *ngFor="let articulos of ListArticulo" [value]="articulos.cod_articulo">
                                                    {{articulos.nom_articulo}}
                                                </mat-option>
                                            </mat-select>
                                        </div>

                                    </mat-form-field>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Cantidad:</mat-label>
                                        <textarea matInput class="form-control" id="cant_pedida" [(ngModel)]="modeli.cant_pedida" name="cant_pedida" #name="ngModel" #can></textarea>
                                    </mat-form-field>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>

                                    <mat-form-field class="example-full-width" appearance="fill" class="arto">
                                        <mat-label>Observacion:</mat-label>
                                        <textarea matInput class="form-control" id="obs" [(ngModel)]="modeli.obs" name="obs" #name="ngModel" #obs></textarea>
                                    </mat-form-field>



                                </div>

                            </form>

                            <form (submit)="dropArticulos()">
                                <div class="container artic">
                                    <h1>Articulos
                                        <button mat-raised-button class="but" (click)="dropArticulos">limpiar</button>

                                    </h1>


                                </div>
                            </form>

                            <div class="container table ta col">

                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Codigo Articulo</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Observaciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let arti of articulos">

                                            <td>{{arti.cod_articulo}}</td>
                                            <td>{{arti.cant_pedida}}</td>
                                            <td>{{arti.obs}}</td>

                                        </tr>

                                    </tbody>
                                </table>




                            </div>





                        </div>

                        <div class=" buton">
                            <button mat-raised-button class="env" (click)="onSubmit">Enviar </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button mat-raised-button class="guar">Guardar</button>

                        </div>

                    </form>



                </div>




            </div>


        </div>



    </div>

</ng-container>



<ng-template #closeIcon>
    <svg xmlns="http://www.w3.org/2000/svg" width="103.536" height="103.536" viewBox="0 0 103.536 103.536" (click)="show = false;"> 
        <g id="Group 65" data-name="Group 65" transform="translate(-142.732 -214.732)">

        <line id="Line_7" data-name="Line 7" x2="100" y2="100" transform="translate(144.5 216.5)" fill="none" stroke="#5ce1e6"
        
        stroke-width="5"/> 
        <line id="Line_8" data-name="Line 8" y1="99" x2="99" transform="translate(144.5 216.5)" fill="none" stroke="#5cele6" stroke-width="5"/>
        
        </g>
        
    </svg>
</ng-template>


<!--
    <div class="fondo">


    <br>
    <div class="inicial">

        <form (ngSubmit)="onSubmit()">



            <div>

                <form (ngSubmit)="onSubmit()">
                    <div class="container p">
                        <h1> <span class="urgente"> Pedido de Articulo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-slide-toggle class="ur" id="urgente"  [(ngModel)]="model.urgente" name="urgente" #name="ngModel">Urgente</mat-slide-toggle></span>
                        </h1>

                    </div>
                </form>

                <form (submit)="addArticulo()">
                    <div class="container n">
                        <h1>Agregar Articulo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <button mat-button class="bu" (click)="addArticulo()"><mat-icon >add</mat-icon></button>


                        </h1>


                    </div>
                </form>




            </div>




            <div>
                <br>
                <br>
                <div class="container des form-group">


                    <br>
                    <mat-form-field appearance="fill" class="desp">
                        <mat-label>Piso Destino</mat-label>
                        <mat-select class="form-control" id="piso_destino" required [(ngModel)]="model.piso_destino" name="piso_destino" #name="ngModel">
                            <mat-option *ngFor="let item of piso" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>

                    <br>
                    <mat-form-field appearance="fill" class="desp">
                        <mat-label>Nombre Almacen</mat-label>
                        <mat-select class="form-control" id="cod_almacen" [(ngModel)]="model.cod_almacen" name="cod_almacen" #name="ngModel">
                            <mat-option *ngFor="let almacenes of ListAlmacenes" [value]="almacenes.cod_almacen">
                                {{almacenes.nom_almacen}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>
                    <br>

                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Motivo:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="motivo_solicitud" [(ngModel)]="model.motivo_solicitud" name="motivo_solicitud" #name="ngModel"></textarea>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Observacion:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="obs" [(ngModel)]="model.obs" name="obs" #name="ngModel"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Codigo Clave:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="cod_clave" [(ngModel)]="model.cod_clave" name="cod_clave" #name="ngModel"></textarea>

                    </mat-form-field>



                </div>

                <form (submit)="addArticulo()" id="borr">


                    <div class="container ar">
                        <mat-form-field appearance="fill" class="art">
                            <mat-label>Articulo</mat-label>
                            <div class="from Group">
                                <mat-select class="form-control" id="cod_articulo" [(ngModel)]="modeli.cod_articulo" name="cod_articulo" #name="ngModel">
                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom_articulo'" [array]="ListArticulo" (filteredReturn)="ListArticulo =$event"></mat-select-filter>
                                    <mat-option *ngFor="let articulos of ListArticulo" [value]="articulos.cod_articulo">
                                        {{articulos.nom_articulo}}
                                    </mat-option>
                                </mat-select>
                            </div>

                        </mat-form-field>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Cantidad:</mat-label>
                            <textarea matInput class="form-control" id="cant_pedida" [(ngModel)]="modeli.cant_pedida" name="cant_pedida" #name="ngModel" #can></textarea>
                        </mat-form-field>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br>

                        <mat-form-field class="example-full-width" appearance="fill" class="arto">
                            <mat-label>Observacion:</mat-label>
                            <textarea matInput class="form-control" id="obs" [(ngModel)]="modeli.obs" name="obs" #name="ngModel" #obs></textarea>
                        </mat-form-field>



                    </div>

                </form>

                <form (submit)="dropArticulos()">
                    <div class="container artic">
                        <h1>Articulos
                            <button mat-raised-button class="but" (click)="dropArticulos">limpiar</button>

                        </h1>


                    </div>
                </form>

                <div class="container table ta col">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Codigo Articulo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Observaciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let arti of articulos">

                                <td>{{arti.cod_articulo}}</td>
                                <td>{{arti.cant_pedida}}</td>
                                <td>{{arti.obs}}</td>

                            </tr>

                        </tbody>
                    </table>




                </div>





            </div>

            <div class=" buton">
                <button mat-raised-button class="env" (click)="onSubmit">Enviar </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button class="guar">Guardar</button>

            </div>

        </form>



    </div>




</div>
-->