<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form [formGroup]="form" (ngSubmit)="login">
            <mat-card *ngIf="!loading" (ngSubmit)="login()">
                <img src="../../../assets/img/can.png">
                <h1>Login</h1>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput autocomplete="off" placeholder="UserName" [(ngModel)]="loginData.userName" formControlName="usuario">
                </mat-form-field>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput autocomplete="off" placeholder="Password" [(ngModel)]="loginData.password" formControlName="password">
                </mat-form-field>
                <br>
                <button type="submit" class="ancho button" mat-raised-button color="primary" (click)="login()" [disabled]="form.invalid">Ingresar</button>

            </mat-card>

        </form>



    </div>

</div>