<div class="fondo">


    <br>
    <div class="inicial">

        <form (ngSubmit)="onSubmit()">



            <div>

                <form (ngSubmit)="onSubmit()">
                    <div class="container p">
                        <h1> <span class="urgente"> Almacen </span>
                        </h1>

                    </div>
                </form>


            </div>




            <div>
                <br>
                <br>
                <div class="container des form-group">


                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Codigo Almacen:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="cod_almacen" required [(ngModel)]="model.cod_almacen" name="cod_almacen" #name="ngModel"></textarea>
                    </mat-form-field>
                    <br>

                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Nombre Almacen:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="nom_almacen" required [(ngModel)]="model.nom_almacen" name="nom_almacen" #name="ngModel"></textarea>
                    </mat-form-field>

                    <br>
                    <br>

                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Direccion:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="dir_almacen" required [(ngModel)]="model.dir_almacen" name="dir_almacen" #name="ngModel"></textarea>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Telefono:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="tlf_almacen" required [(ngModel)]="model.tlf_almacen" name="tlf_almacen" #name="ngModel"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Observacion:</mat-label>
                        <textarea matInput class="fij" class="form-control" id="obs" [(ngModel)]="model.obs" name="obs" #name="ngModel"></textarea>
                    </mat-form-field>


                </div>



            </div>

            <div class=" buton">
                <button mat-raised-button class="env" type="submit">Enviar </button>

            </div>

        </form>



    </div>




</div>