<div class="fondo">


    <br>
    <div class="inicial">

        <form>



            <div>

                <div class="container p">
                    <h1> <span class="urgente"> Pedido de Articulo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <mat-slide-toggle class="ur" >Urgente</mat-slide-toggle></span>
                    </h1>

                </div>


                <div class="container n">
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Fecah Pedido</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Fecha Autorizado</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Fecha Despacho</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>


                </div>





            </div>




            <div>
                <br>
                <br>
                <div class="container des form-group">


                    <br>
                    <mat-form-field appearance="fill" class="desp">
                        <mat-label>Piso Destino</mat-label>
                        <mat-select class="form-control">
                            <mat-option *ngFor="let item ">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>

                    <br>
                    <mat-form-field appearance="fill" class="desp">
                        <mat-label>Nombre Almacen</mat-label>
                        <mat-select class="form-control">
                            <mat-option *ngFor="let almacenes of ">
                                {{almacenes}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>
                    <br>

                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Motivo:</mat-label>
                        <textarea matInput class="fij" class="form-control"></textarea>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" class="desp">
                        <mat-label>Observacion:</mat-label>
                        <textarea matInput class="fij" class="form-control"></textarea>
                    </mat-form-field>





                </div>







                <div class="container artic">
                    <h1>Articulos


                    </h1>


                </div>


                <div class="container table ta col">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Codigo Articulo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Observaciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let arti of ">

                                <td>{{arti}}</td>
                                <td>{{arti}}</td>
                                <td>{{arti}}</td>

                            </tr>

                        </tbody>
                    </table>




                </div>





            </div>

            <div class=" buton">
                <button mat-raised-button class="env">Autorizar </button>


            </div>

        </form>



    </div>




</div>